.component-2 h3 {
    font-size: 1.25rem; /* Чуть меньший размер текста */
    font-weight: bold; /* Выделяем заголовок */
    color: #222; /* Основной цвет заголовка */
    margin-left: 1rem; /* Отступ от левого края экрана */
    margin-bottom: 1rem; /* Отступ снизу для разделения */
    text-align: left; /* Выравнивание заголовка */
}


.component-2 ul {
    list-style: none;
    padding-left: 20px;
}

.component-2 h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.component-2 li {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #555;
}

.component-2 a {
    text-decoration: none;
    color: #007BFF;
}

.component-2 a:hover {
    color: #0056b3;
}

.component-2 ul ul {
    display: none;
    margin-top: 10px;
}

.component-2 ul ul li {
    font-size: 0.95rem;
}

.component-2 ul ul ul {
    margin-top: 5px;
    padding-left: 20px;
}

.component-2 ul ul a {
    font-size: 0.9rem;
    color: #333;
}

.component-2 ul ul a:hover {
    color: #0056b3;
}

.component-2 .toggle-btn {
    background: none;
    border: none;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.component-2 .toggle-btn:hover {
    color: #0056b3;
}

.component-2 ul.sub-list {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.component-2 ul.sub-list.open {
    display: block;
}
