<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chgzabor</title>
</head>
<body>
<ul class="menu">
    <li><a href="http://localhost:8080/">Home</a></li>
    <li><a href="http://localhost:8080/">Dev</a></li>
</ul>

<h2>Добро пожаловать на сайт UP - prototype!</h2>
<p>Это прототип - его цель отобразить идею и дать возможность протестировать технические решения.</p>

<h4>Доступные чертежи:</h4>
<ul>
    <li>Ворота откатные
        <ul>
            <li>Optima
                <ul>
                    <li><a href="http://localhost:8080/product/SlidingOptima001">Ворота Optima (заполн.: жалюзи), цельные</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Optima (заполн.: жалюзи), сборные</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Optima (заполн.: жалюзи), цельные (3 секции)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Optima (заполн.: жалюзи), сборные 4</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Optima (заполн.: жалюзи), сборные 2</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Optima (заполн. жалюзи), сборные (3 секции)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Optima (заполн. жалюзи), сборный хвост 1</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Optima (заполн. жалюзи), сборный хвост 2</a></li>
                </ul>
            </li>
            <li>Estet
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet (заполн.: разное), сборные</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet (заполн.: разное), цельные</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet (заполн.: разное), усиленные, цельные</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet (заполн.: разное), цельные (3 секции)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet (заполн.: разное), сборные, 2 прожилины</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet (заполн.: разное), сборные, 3 прожилины</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet усиленные (заполн.: разное), сборные, 3 прожилины</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet усиленные 2 (заполн.: разное) сборные, 3 прожилины</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet (заполн.: разное), цельные,  2 прожилины</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet встр. калитка слева, (заполн.: разное), сборный хвост</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet встр. калитка справа, (заполн.: разное), сборный хвост</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet встр. калитка слева, (заполн.: разное), усиленные (?)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота Estet встр. калитка справа, (заполн.: разное), усиленные (?)</a></li>

                </ul>
            </li>
        </ul>
    </li>
    <p></p>
    <li>Ворота распашные
        <ul>
            <li>Optima
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Ворота распашные Optima (заполн.: жалюзи)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота распашные Optima (заполн.: жалюзи) (камень)</a></li>
                </ul>
            </li>
            <li>Estet
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Ворота распашные Estet  (заполн.: разное) (камень)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота распашные Estet  (заполн.: разное)</a></li>
                </ul>
            </li>
            <li>Country
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Ворота распашные Country (заполн.: разное)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Ворота распашные Country 2 (заполн.: разное)</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <p></p>
    <li>Калитки
        <ul>
            <li>Optima
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Калитка Optima (заполн.: жалюзи)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Калитка Optima (заполн.: жалюзи) (камень)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Калитка Optima Г-обр. ручка (заполн.: жалюзи)</a></li>
                </ul>
            </li>
            <li>Estet
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Калитка Estet (заполн.: разное)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Калитка Estet (заполн.: жалюзи) (камень)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Калитка Estet Г-обр. ручка (заполн.: жалюзи)</a></li>
                </ul>
            </li>
            <li>Country
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Калитка Country  (заполн.: разное)</a></li>
                </ul>
            </li>
            <li>Premium
                <ul>
                    <li><a href="http://localhost:8080/errorPage">Калитка Premium Г-обр. ручка (заполн.: жалюзи)</a></li>
                    <li><a href="http://localhost:8080/errorPage">Калитка Premium (заполн.: жалюзи)</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</body></html>