/* image.css */

/* Контейнер с изображением */
.container {
    width: 1000px;
    height: 500px;
    overflow: hidden; /* Обрезка изображения, если оно больше контейнера */
    background-color: #7A7D86;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
